[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.rechain.store
Exec=/usr/bin/com.rechain.store
Name=dHubStore
Name[ru]=Хаб&Стор

[X-Application]
Permissions=Audio;Camera;Documents;Downloads;Internet;Location;Microphone;Music;Pictures;PublicDir;PushNotifications;RemovableMedia;Videos;WebView
OrganizationName=com.rechain
ApplicationName=store

